<div class="card" id="card-<%= company.key %>">
  <div class="card-flipper" onclick="flip(this);">
    <div class="card-front">
      <div class="front">
        <div class="front-hero front-hero--<%= company.key %>">
          <div class="brand">
            <%= image_tag "#{company.key}_front.svg", alt: company.title, class: 'brand-logo' %>
            <div class="brand-location">
              <div class="location">
                    <span class="location-floor">
                      <%= company.floor %>
                    </span>
                    <span class="location-suite">
                      <%= company.suite %>
                    </span>
              </div>
            </div>
          </div>
        </div>
        <div class="front-body">
          <div class="instructions">
            <div class="instructions-brand">
              <%= company.title %>
            </div>
            <div class="instructions-text">
              <%= company.instructions %>
            </div>
            <%= image_tag "#{company.key}_directions.svg", class: 'instructions-image' %>
            <div class="instructions-more">
              <%= t('more_info') %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-back">
      <div class="back back--<%= company.key %>">
        <%= image_tag "#{company.key}_back.svg", alt: company.title, class: 'back-logo' %>
        <div class="back-phone">
          <%= company.phone %>
        </div>
        <div class="back-website">
          <%= company.website %>
        </div>
        <div class="back-location">
          <div class="location">
                    <span class="location-floor">
                      <%= company.floor %>
                    </span>
                    <span class="location-suite">
                      <%= company.suite %>
                    </span>
          </div>
        </div>
        <div class="back-units">
          <%- company.org_units.each do |org_unit| -%>
              <div class="unit">
                <div class="unit-name">
                  <%= org_unit.name %>
                </div>
                <%- org_unit.employees.each do |contact| -%>
                    <div class="unit-contact">
                      <div class="contact">
                            <span class="contact-title">
                              <%= contact.title %>
                            </span>
                        <span class="contact-fill"></span>
                            <span class="contact-name">
                              <%= contact.name %>
                            </span>
                      </div>
                    </div>
                <%- end -%>
              </div>
          <%- end -%>
        </div>
        <div class="back-return">
          <i class="icon ion-arrow-left-c"></i> <%= t('return') %>
        </div>
      </div>
    </div>
  </div>
</div>
