<div class="page">

  <%- # noinspection RailsI18nInspection
      I18n.t('companies').each do |company, details| -%>
      <div class="card">
        <div class="front">
          <div class="front-hero front-hero--<%= company %>">
            <div class="brand">
              <%= image_tag "#{company}_front.svg", alt: details[:title], class: 'brand-logo' %>
              <div class="brand-location">
                <div class="location">
              <span class="location-floor">
                <%= details[:floor] %>
              </span>
              <span class="location-suite">
                <%= details[:suite] %>
              </span>
                </div>
              </div>
            </div>
          </div>
          <div class="front-body">
            <div class="instructions">
              <div class="instructions-brand">
                <%= details[:title] %>
              </div>
              <div class="instructions-text">
                <%= details[:instructions] %>
              </div>
              <%= image_tag "#{company}_directions.svg", class: 'instructions-image' %>
              <div class="instructions-more">
                More Info
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-back">
      </div>
  <% end %>

  <div class="card">
    <div class="card-front">
      <div class="front">
        <div class="front-hero front-hero--event">
          <div class="brand">
            <div class="brand-location">
              <div class="location">
            <span class="location-suite">
              <%= I18n.t('building.welcome') %>
            </span>
              </div>
            </div>
          </div>
        </div>
        <div class="front-body">
          <div class="instructions">
            <div class="instructions-brand">
              <%= I18n.t('building.name') %>
            </div>
            <div class="instructions-text">
              <%= I18n.t('building.description') %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
