<!DOCTYPE html>
<html>
<head><title>SixteenFortyFour</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body class="body">
<div class="page">

  <%- # noinspection RailsI18nInspection
      t('companies').each do |company, details| -%>
      <div class="card" id="card-<%= company %>">
        <div class="card-flipper" onclick="flip(this);">
          <div class="card-front">
            <div class="front">
              <div class="front-hero front-hero--<%= company %>">
                <div class="brand">
                  <%= image_tag "#{company}_front.svg", alt: details[:title], class: 'brand-logo' %>
                  <div class="brand-location">
                    <div class="location">
                    <span class="location-floor">
                      <%= details[:floor] %>
                    </span>
                    <span class="location-suite">
                      <%= details[:suite] %>
                    </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="front-body">
                <div class="instructions">
                  <div class="instructions-brand">
                    <%= details[:title] %>
                  </div>
                  <div class="instructions-text">
                    <%= details[:instructions] %>
                  </div>
                  <%= image_tag "#{company}_directions.svg", class: 'instructions-image' %>
                  <div class="instructions-more">
                    <%= t('more_info') %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-back">
            <div class="back back--<%= company %>">
              <%= image_tag "#{company}_back.svg", alt: details[:title], class: 'back-logo' %>
              <div class="back-phone">
                <%= details[:phone] %>
              </div>
              <div class="back-website">
                <%= details[:website] %>
              </div>
              <div class="back-location">
                <div class="location">
                    <span class="location-floor">
                      <%= details[:floor] %>
                    </span>
                    <span class="location-suite">
                      <%= details[:suite] %>
                    </span>
                </div>
              </div>
              <div class="back-units">
                <%- details[:org_units].each do |_, org_unit| -%>
                    <div class="unit">
                      <div class="unit-name">
                        <%= org_unit[:name] %>
                      </div>
                      <%- org_unit[:contacts].each do |_, contact| -%>
                          <div class="unit-contact">
                            <div class="contact">
                            <span class="contact-title">
                              <%= contact[:title] %>
                            </span>
                              <span class="contact-fill"></span>
                            <span class="contact-name">
                              <%= contact[:name] %>
                            </span>
                            </div>
                          </div>
                      <%- end -%>
                    </div>
                <%- end -%>
              </div>
              <div class="back-return">
                <i class="icon ion-arrow-left-c"></i> <%= t('return') %>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>

  <%- if @event.present? -%>
      <div class="card" id="card-event">
        <div class="card-flipper" onclick="flip(this);">
          <div class="card-front">
            <div class="front">
              <div class="front-hero front-hero--event">
                <div class="brand">
                  <div class="brand-location">
                    <div class="location">
            <span class="location-suite">
              <%= t('upcoming_event') %>
            </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="front-body">
                <div class="instructions">
                  <div class="instructions-brand">
                    <%= @event.name %>
                  </div>
                  <div class="instructions-text">
                    <div class="event">
                      <div class="event-description"><%= @event.description %></div>
                      <div class="event-location">FL <%= @event.floor %> Suite <%= @event.suite %></div>
                      <div class="event-datetime">
                        <div><%= @event.starts_at.strftime('%A, %B %-d') %></div>
                        <div><%= @event.starts_at.strftime('%-I:%M %p') %> &mdash; <%= @event.ends_at.strftime('%-I:%M %p') %></div>
                      </div>
                    </div>
                  </div>
                  <div class="instructions-more instructions-more--event">
                    <%= t('more_events') %>
                    <i class="icon ion-calendar"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-back">
            <div class="back back--event">
              <div class="back-logo">Future Events</div>
              <div class="back-events">
                <div class="events">
                  <%- @events.each do |date, events| -%>
                    <div class="events-date">
                      <%= date.strftime('%A, %B %-d') %>
                    </div>
                    <%- events.each do |event| -%>
                      <div class="futureEvent">
                        <div class="futureEvent-name"><%= event.name %></div>
                        <div class="futureEvent-space"></div>
                        <div class="futureEvent-time"><%= event.starts_at.strftime('%-I:%M %p') %></div>
                      </div>
                    <%- end -%>
                  <%- end -%>
                </div>
              </div>
              <div class="back-return">
                <i class="icon ion-arrow-left-c"></i> <%= t('return') %>
              </div>
            </div>
          </div>
        </div>
      </div>
  <%- else -%>
      <div class="card">
        <div class="card-front">
          <div class="front">
            <div class="front-hero front-hero--event">
              <div class="brand">
                <div class="brand-location">
                  <div class="location">
            <span class="location-suite">
              <%= t('building.welcome') %>
            </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="front-body">
              <div class="instructions">
                <div class="instructions-brand">
                  <%= t('building.name') %>
                </div>
                <div class="instructions-text">
                  <%= t('building.description') %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <%- end -%>
</div>
</body>
</html>